.btn {
  border-radius: 0 !important;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

/* Custom */
.member-form {
  height: 32px;
  width: 60%;
  min-width: 130px;
}

.project-block {
}

.projects-page {
}

.all-projects-header {
  text-decoration: underline;
  text-decoration-color: #07a6d6;
}

.site-color {
  color: #07a6d6;
}
