.App {
  text-align: center;
  /*
  background-color: #15202b;
  color: white;
  border: #167bff;
  */
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

/* Custom */
.member-form {
  height: 32px;
  width: 60%;
  min-width: 130px;
}

.project-block {
}

.projects-page {
}
