.project-input {
  padding: 10px;
}

.project-create-form textarea,
.project-create-form input {
  display: block !important;
  width: 50% !important;
  max-width: 450px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left;
}

.member-form {
  height: 32px;
  width: 60%;
  min-width: 200px;
}

.edit-proj-input {
  width: 40%;
  min-width: 200px;
}
.edit-proj-textarea {
  width: 70%;
  min-height: 120px;
  min-width: 200px;
}

.all-projects-header {
  text-decoration: underline;
  text-decoration-color: #07a6d6;
}

.site-color {
  color: #07a6d6;
}

.no-bullet-list {
  list-style-type: none;
}

.helper-btn {
  background-color: #07a6d6 !important;
  color: #343a40 !important;
}

.helper-btn:hover {
  background-color: #1d8eb1 !important;
}
