.project-input {
  padding: 10px;
}

.project-input:focus {
}

.project-create-form textarea,
.project-create-form input {
  display: block !important;
  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left;
}

.member-form {
  height: 32px;
  width: 60%;
  min-width: 130px;
}

.all-projects-header {
  text-decoration: underline;
  text-decoration-color: #07a6d6;
}

.site-color {
  color: #07a6d6;
}

.no-bullet-list {
  list-style-type: none;
}

.helper-btn {
  background-color: #07a6d6 !important;
  color: #343a40 !important;
}

.helper-btn:hover {
  background-color: #1d8eb1 !important;
}
