.brk-btn {
  position: relative;
  background: none;
  color: #07a6d6;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #07a6d6;
  padding: 0.5em 1em;
  &:hover {
    background-color: #343a40;
    font-weight: bold;
  }
}
