.brk-btn {
  position: relative;
  background: none;
  color: #07a6d6;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #07a6d6;
  padding: 0.5em 1em;
  &:hover {
    background-color: #343a40;
    font-weight: bold;
  }
  &:active {
    outline: none !important;
    border: 0.2em solid #07a6d6 !important;
    box-shadow: 0 0 0 2px #07a6d6 !important;
    -webkit-box-shadow: 0 0 0 2px #07a6d6 !important;
    -moz-box-shadow: 0 0 2px 5px #07a6d6 !important;
  }
}

/* TASK STYLING */

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.cards_item {
  display: flex;
  padding: 1rem;
  max-width: 420px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #1786a8 40%, #07a6d6 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
