.project-input {
  padding: 10px;
}

.project-create-form textarea,
.project-create-form input {
  display: block !important;
  width: 50% !important;
  max-width: 450px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left;
}

.task-update-form textarea,
.task-update-form input {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 450px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: left;
}

.task-update-form textarea {
  margin-top: 20px;
}

.sprint-form-create {
  display: block !important;
  width: 50% !important;
  max-width: 450px !important;
  text-align: left;
}

.edit-sprint-form {
  width: 50% !important;
  max-width: 210px !important;
  text-align: left;
}

.date-range-sprints input {
  display: block !important;
  width: 20% !important;
  max-width: 170px !important;
  text-align: left;
}

.member-form {
  height: 32px;
  width: 60%;
  min-width: 200px;
}

.edit-proj-input {
  width: 40%;
  min-width: 200px;
}
.edit-proj-textarea {
  width: 70%;
  min-height: 120px;
  min-width: 200px;
}

.all-projects-header {
  text-decoration: underline;
  text-decoration-color: #07a6d6;
}

.site-color {
  color: #07a6d6;
}

.no-bullet-list {
  list-style-type: none;
}

.helper-btn {
  background-color: #07a6d6 !important;
  color: #343a40 !important;
}

.helper-btn:hover {
  background-color: #1d8eb1 !important;
}

/* ARROW BTN */

.arrow-btn {
  border: none;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  color: #ffffff;
  background-color: #07a6d6;
  position: relative;
  display: inline-block;
}
.arrow-btn:after {
  position: absolute;
  left: -20px;
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 20px 25px 0;
  border-color: transparent #07a6d6 transparent #07a6d6;
}
.arrow-btn:hover {
  background-color: #07789b;
}
.arrow-btn:hover:after {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 20px 25px 0;
  border-color: transparent #07789b transparent #07789b;
}
.arrow-btn:active,
.arrow-btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
